<!DOCTYPE html>
<html>
<head>
    
    

    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <META name="description" content="En nuestra web RecipeSearcher tan solo deberás basarte en tus ingredientes. Introduce los ingredientes de los que dispones para encontrar la receta que más se adapte a ti.">
        <META name="keywords" content="RECIPE SEARCH RECIPESEARCH BUSCADOR RECETAS INGREDIENTE INGREDIENTES RECETA COCINA">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} RecipeSearch</title>
            {% block stylesheets %}
                <link rel="apple-touch-icon" href="apple-touch-icon.png">
                <link rel="stylesheet" href="css/normalize.css">
                <link rel="stylesheet" href="css/main.css">
                <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/animate.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/icomoon.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/themify-icons.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/bootstrap.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/magnific-popup.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/bootstrap-datetimepicker.min.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/owl.carousel.min.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/owl.theme.default.min.css") }}">
                <link rel="stylesheet" href="{{ asset("bundles/recipe/css/style.css") }}">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
                
                <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
                <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
                <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
                <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
                <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
                <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
                <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
                <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
                <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
                <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
                <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
                <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
                <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
                <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
                <link rel="manifest" href="/manifest.json">
                <meta name="msapplication-TileColor" content="#ffffff">
                <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
                <meta name="theme-color" content="#ffffff">
                {% stylesheets "@RecipeBundle/Resources/public/css/custom.css" %}
                    <link rel="stylesheet" href="{{ asset(asset_url) }}">
                {% endstylesheets %}
                {# Custom files #}
            {% endblock %}


                {% javascripts "@RecipeBundle/Resources/public/js/autocomplete-ingredients.js"
                   "@RecipeBundle/Resources/public/js/modernizr-2.6.2.min.js"
                   "@RecipeBundle/Resources/public/js/jquery.min.js"
                   "@RecipeBundle/Resources/public/js/jquery.easing.1.3.js"
                   "@RecipeBundle/Resources/public/js/bootstrap.min.js"
                   "@RecipeBundle/Resources/public/js/jquery.waypoints.min.js"
                   "@RecipeBundle/Resources/public/js/owl.carousel.min.js"
                   "@RecipeBundle/Resources/public/js/jquery.countTo.js"
                   "@RecipeBundle/Resources/public/js/jquery.stellar.min.js"
                   "@RecipeBundle/Resources/public/js/jquery.magnific-popup.min.js"
                   "@RecipeBundle/Resources/public/js/moment.min.js"
                   "@RecipeBundle/Resources/public/js/magnific-popup-options.js"
                   "@RecipeBundle/Resources/public/js/bootstrap-datetimepicker.min.js"
                   "@RecipeBundle/Resources/public/js/main.js"
                %}
                    <script src="{{ asset(asset_url) }}"></script>    
                {% endjavascripts %}
    </head>
    <body id="{% block id '' %}">
        <div id="page">
            {% block navbar %}
                {{include ('navbar.html.twig') }}
            {% endblock %}
            
            {% block body %}
            {% endblock %}
            
            {% block footer %}
                {{ include  ('footer.html.twig') }}
            {% endblock %}
                
            {% block javascripts %}<script src="js/vendor/modernizr-2.8.3.min.js"></script>{% endblock %}
        </div>
    </body>
</html>