{% extends 'base.html.twig' %}
    {% block metatags %} 
        <script type="application/ld+json">
            
            {
                "@type": "Recipe",
                "name": "{{ recipe.name }}",
                "image": "{{ asset('uploads/images/recipes/' ~ recipe.image) | imagine_filter('my_thumb') }}",                
                "totalTime": "Tiempo: {{ recipe.time }}",
                "description": "{{ recipe.descripcion }}"
            }
        </script>
    {% endblock %}
    
    {% block title %}{{ recipe.name }}{% endblock %}
    
    {% block body %}
        <div id="gtco-recipe" class="gtco-section">
            <div class="gtco-container">                                
                <div class="container" id="recipecontainer">     
                    <h2 class="cursive-font primary-color">{{ recipe.name }}</h2><br>
                    <div class="col-md-12 ">
                        <div class="col-xs-4"  id="ingredientrecipe">
                            <h3>{{ recipe.descripcion }}</h3> <br> <br>
                            <h2>Ingredientes</h2>
                            <ul>
                                {%for recipeingredient in recipe.recipeingredients %}
                                    <li>{{ recipeingredient.ingredient.name}}</li>
                                {%endfor%}
                            </ul>                            
                        </div>
                        <div id="imagerecipe" class="col-xs-8">
                            {% set runtimeConfig = {"thumbnail": {"size": [440, 440] }} %} 
                            <img src="{{ asset('uploads/images/recipes/' ~ recipe.image) | imagine_filter('my_thumb', runtimeConfig) }}"> <br>
                            <strong>Comensales: {{ recipe.diners }}</strong><br>
                            <strong>Tiempo de receta: {{ recipe.time }} </strong><br>
                            <strong>Categoría: {{ recipe.category }} </strong><br>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-md-12 col-sm-3 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center" id="featurelab">
                            {{ recipe.elaboracion }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-3 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/{{ recipe.pathvideo }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-3 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center">
                            <button><a href="{{ path('show_recipe_pdf', {"id":recipe.id} ) }}"> Guardar como PDF</a> </button>
                        </div>
                    </div>
                    
                </div>
            </div>
	</div>
        
        
        
        
        
        
        
    {% endblock %}
    